/*

background-color: #DF6348 = soft-red
font: 'Mohave', sans-serif = font

*/

* {
    box-sizing: border-box;
}

h1 {
    font-size: 30px;
    font-weight: 700;
}

body {
    background-color: #DF6348;
    color: black;
    font-family: 'Mohave', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    min-height: 100vh;
    text-align: center;
    margin-top: 35px;
}

/*Navbar container*/
.container{
    margin-top: 5rem;
}

.list-group-item {
    background-color: #DF6348;
    border: none;
}

.button-class {
    padding: 16px 32px;
    width: 200px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: yellow;
    color: black;
    border: 2px solid blue;
  }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

