/*

background-color: #DF6348 = soft-red
font: 'Mohave', sans-serif = font

*/

* {
    box-sizing: border-box;
}

h1 {
    font-size: 30px;
    font-weight: 700;
}

body {
    background-color: #DF6348;
    color: yellow;
    font-family: 'Mohave', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    min-height: 100vh;
    text-align: center;
    margin-top: 35px;
}

.button-class {
    background-color: blue;
    border: none;
    color: white;
    padding: 16px 32px;
    width: 200px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: yellow;
    color: black;
    border: 2px solid blue;
  }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* modal*/
#modal-container {
    display: none;
  }
  
#modal-container.is-visible {
    position: fixed;
    padding: 20px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);

    /* show modal above other content */
    z-index: 999; 

    /* allow scrolling if the screen is not high enough*/
    overflow: auto; 

    /* center the modal */
    display: grid;
    text-align: center;
}

.modal {
    margin: auto;
    display: inline-block;
    box-sizing: border-box;
    background: #fff;
    color: black;
    padding: 15px;
    width: 100%;
    max-width: 700px;
    text-align: left;
  }

.modal-close {
    float: right;
    border: 0;
    background: none;
    color: #777;
    text-decoration: underline;
    cursor: pointer;
}